#box1{
  width:50px;
  background-color: orange;
}

#box2{
  width:150px;
  background-color: black;
}

#box3{
  width:250px;
  background-color: green;
}

.container{
  margin-top:100px;
  text-align:center;

}

.tower{
  height: 500px;
  width: 300px;
  display:inline-block;
  margin:30px;
  background:blue;
  position:relative;
  border: 5px solid #000;

}

.bottom{
  position: absolute;
  bottom: 0px;
  width:300px;

}

.rings{
  height:50px;
  margin: 0 auto;
  background:white;
  border-radius: 10px;
  
}
